<link rel="stylesheet" href="/views/assets/styles/header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<header>
    <div class="h-box d-flex">
        <a href="/" id="logo-text"><i class="fa-solid fa-flask"></i>
            <div>D</div>avst
        </a>
        <label for="toggle" id="toggle-label">
            <i class="fa-solid fa-bars"></i>
        </label>
        <input type="checkbox" id="toggle">
        <nav id="nav-bar" class="d-flex">
            <div class="nav-links"><a href="/"><i class="fa-solid fa-house"></i> Top</a></div>
            <div class="nav-links"><a href="#" target="_blank"><i
                        class="fa-brands fa-github-alt"></i> GitHub <span
                        class="fa-solid fa-arrow-up-right-from-square"></span></a></div>
            <div class="nav-links"><a
                    href="#"
                    target="_blank"><i class="fa-brands fa-google-drive"></i> GDrive <span
                        class="fa-solid fa-arrow-up-right-from-square"></span></a></div>
        </nav>
    </div>
</header>
<main>