<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Open Graph Protocol -->
<meta property="og:title" content="🧪 Davst" />
<meta property="og:site_name" content="Davst" />
<meta property="og:description" content="だるおがやった評価実験の結果を置いておくところだよ。" />
<meta property="og:url" content="{{url}}" />
<meta property="og:image" content="/views/assets/images/davst_logo.png" />
<meta property="og:image" content="{{url}}/views/assets/images/davst_logo.png" />
<meta property="og:type" content="article" />
<meta name="twitter:site" content="@daruoUni" />
<meta name="twitter:creator" content="@daruoUni" />
<meta name="twitter:card" content="summary" />

<link rel="icon" href="/views/assets/images/favicon.ico">
<link rel="stylesheet" href="/views/assets/styles/github-markdown-dark.css" type="text/css">
<link rel="stylesheet" href="/views/assets/styles/basic.css" type="text/css">
<link rel="stylesheet" href="/views/assets/styles/hljs.css" type="text/css">
<script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({
        startOnLoad: true,
        theme: document.body.classList.contains('vscode-dark') || document.body.classList.contains('vscode-high-contrast')
            ? 'dark'
            : 'default'
    });
</script>

<link rel="stylesheet" href="/views/assets/styles/header.css">
<link rel="stylesheet" href="/views/assets/styles/graph.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
